/* .btn {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #bcbcbc;
}

.btn.danger {
    background-color: coral;
    color: #fff;
}

.btn.warning {
    background-color: orange;
    color: #fff;
}

.btn.default {
    background-color: #eee;
    color: #333;
} */